.titlu{
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}
.user-image-description{
display: flex;
align-items: center;
gap:10px;
}
.user-container{
    padding: 10px;
    background-color: antiquewhite;
    margin: 0.5em;;
}

