body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 40%, 98%);

}
.calculator{
    max-width: 500px;
    background-color: hsl(0, 4%, 60%);
    border-radius: 20px;
    overflow: hidden;
    
}
#display{
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 5em;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
  
}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}


.buton{
    width: 100px;
    height:100px;
    background-color: hsl(0, 2%, 52%);
    border-radius: 30px;
    font-size: 2em;
      font-weight: bold;
    cursor: pointer;
}
.buton:hover{
    background-color: hsl(0, 4%, 64%)
}
.buton:active{
    background-color: hsl(0, 20%, 97%)
}
